* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  line-break: strict;
  word-break: break-word;
}

img {
  vertical-align: bottom;
  pointer-events: none;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

textarea {
  resize: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'] {
  -moz-appearance: textfield;
}

input[type='checkbox'] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

input[type='radio'] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
